## Remove Duplicate Column

In [1]:
import pandas as pd
from glob import glob

csv_list = glob("data/*.csv")

for i, directory in enumerate(csv_list):
    df = pd.read_csv(directory)
    df.drop(columns=['ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID', 'OP_CARRIER'], inplace=True)

    if i == 0:
        df.to_csv("data/Total_Data_10Y.csv", index = False)
    else:
        df.to_csv("data/Total_Data_10Y.csv", mode = "a", index = False)

In [28]:
from datetime import datetime

df.FL_DATE = df.FL_DATE.apply(lambda x: datetime.strptime(x, "%m/%d/%Y %I:%M:%S %p"))
df.head()

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER,TAIL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,...,TAXI_IN,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2019-09-01,9E,9E,N131EV,11423,1142307,31423,DSM,"Des Moines, IA",13487,...,5.0,1614.0,-42.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-09-01,9E,9E,N131EV,11996,1199603,31871,GSP,"Greer, SC",12953,...,13.0,1000.0,-21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-01,9E,9E,N131EV,12953,1295304,31703,LGA,"New York, NY",11423,...,4.0,1250.0,-17.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-01,9E,9E,N131EV,13487,1348702,31650,MSP,"Minneapolis, MN",13931,...,8.0,2129.0,-14.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-01,9E,9E,N132EV,10397,1039707,30397,ATL,"Atlanta, GA",15249,...,3.0,2316.0,-13.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

## Fixed Duration 10 Years

In [29]:
filtered_df = df[(df['FL_DATE'] >= '2014-07-01') & (df['FL_DATE']  <= '2024-07-01')]
len(filtered_df)

1199821

In [30]:
print(df.loc[:, "FL_DATE"].max(), df.loc[:, "FL_DATE"].min())

2019-09-30 00:00:00 2018-12-01 00:00:00

In [31]:
sampled_df = filtered_df.sample(n=10000, random_state=42)

In [32]:
sampled_df["MY"] = sampled_df["FL_DATE"].dt.strftime('%Y-%m')
month_count = sampled_df.groupby("MY").size().reset_index(name='count')
for row in month_count.iterrows():
    print(row)

(0, MY       2018-12
count       4984
Name: 0, dtype: object)
(1, MY       2019-09
count       5016
Name: 1, dtype: object)

In [33]:
filtered_df.to_csv("data/Target_Data4.csv", index = False)

In [7]:
df[df.FL_DATE == "1/1/2013 12:00:00 AM"].head()

,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER,TAIL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,...,TAXI_IN,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1/1/2013 12:00:00 AM,9E,9E,NaN,10397,1039705,30397,ATL,"Atlanta, GA",11612,...,NaN,NaN,NaN,1.0,A,NaN,NaN,NaN,NaN,NaN
1,1/1/2013 12:00:00 AM,9E,9E,NaN,12264,1226402,30852,IAD,"Washington, DC",11433,...,NaN,NaN,NaN,1.0,A,NaN,NaN,NaN,NaN,NaN
2,1/1/2013 12:00:00 AM,9E,9E,NaN,12451,1245102,31136,JAX,"Jacksonville, FL",12478,...,NaN,NaN,NaN,1.0,A,NaN,NaN,NaN,NaN,NaN
3,1/1/2013 12:00:00 AM,9E,9E,N146PQ,10397,1039705,30397,ATL,"Atlanta, GA",11982,...,6.0,2124.0,-5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1/1/2013 12:00:00 AM,9E,9E,N147PQ,10397,1039705,30397,ATL,"Atlanta, GA",12278,...,4.0,2049.0,-11.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

## Column Description

In [16]:
import json

meta_dict = {
    'FL_DATE': "Flight Date (yyyymmdd)",
    'OP_UNIQUE_CARRIER': "Unique Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users, for example, PA, PA(1), PA(2). Use this field for analysis across a range of years.",
    "OP_CARRIER_FL_NUM": "Flight Number (??????)",
    "ORIGIN_AIRPORT_ID": "An identification number assigned by US DOT to identify a unique airport. Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.",
    "ORIGIN_AIRPORT_SEQ_ID": "Origin Airport, Airport Sequence ID. An identification number assigned by US DOT to identify a unique airport at a given point of time. Airport attributes, such as airport name or coordinates, may change over time.",
    "ORIGIN_CITY_MARKET_ID": "City Market ID is an identification number assigned by US DOT to identify a city market. Use this field to consolidate airports serving the same city market.",
    "ORIGIN": "Origin Airport",
    "ORIGIN_CITY_NAME": "Origin Airport, City Name",
    "DEST_AIRPORT_ID": "Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.",
    "DEST_AIRPORT_SEQ_ID": "An identification number assigned by US DOT to identify a unique airport at a given point of time. Airport attributes, such as airport name or coordinates, may change over time.",
    "DEST_CITY_MARKET_ID": "Destination Airport, City Name",
    "DEST": "Destination Airport",
    "DEST_CITY_NAME": "Destination Airport, City Name",
    "DEP_TIME": "Actual Departure Time (local time: hhmm)",
    "DEP_DELAY": "Difference in minutes between scheduled and actual departure time. Early departures show negative numbers.",
    "TAXI_OUT": "Taxi Out Time, in Minutes",
    'ARR_TIME': "Actual Arrival Time (local time: hhmm)	",
    'ARR_DELAY': "Difference in minutes between scheduled and actual arrival time. Early arrivals show negative numbers.",
    "CANCELLED": "Cancelled Flight Indicator (1=Yes)",
    "CANCELLATION_CODE": "Specifies The Reason For Cancellation",
    "DIVERTED": "Diverted Flight Indicator (1=Yes)"
}
with open("column_description.json", "w") as fp:
    json.dump(meta_dict, fp, indent = 4)

## Data Inspection

In [ ]:
from ydata_profiling import ProfileReport
from IPython.display import IFrame
import os

html_report_path = "../html/T_ONTIME_REPORTING.html"

os.makedirs("../html", exist_ok = True)
# generate a dataframe profile
ProfileReport(df).to_file(html_report_path)
IFrame(src=html_report_path, width=700, height=600)

## Supplementary Datasets

### Tail Num Description

In [ ]:
import pandas as pd

master = pd.read_csv("../data/Tail_Num/MASTER.csv", dtype = {
    'ENG MFR MDL': str, 'MFR MDL CODE': str, 'TYPE AIRCRAFT': str, 'TYPE ENGINE':str
})
MFR_code = pd.read_csv("../data/Tail_Num/ACFTREF.csv", dtype = {'CODE': str})
ENG_code = pd.read_csv("../data/Tail_Num/ENGINE.csv", dtype = {'CODE': str})

merge_df = pd.merge(master, MFR_code, left_on='MFR MDL CODE', right_on='CODE', how='inner', suffixes = ("_CARRIER", "_PLANE"))
merge_df = pd.merge(merge_df, ENG_code, left_on='ENG MFR MDL', right_on='CODE', how='left', suffixes = ("", "_ENGINE"))
merge_df.head()

In [ ]:
selected_columns = merge_df.loc[:, [
    "N-NUMBER", "COUNTRY", "TYPE AIRCRAFT", "TYPE ENGINE", 
    "MFR", "MODEL", "NO-ENG", "NO-SEATS", "AC-WEIGHT", 
    "MFR_ENGINE", "MODEL_ENGINE", "HORSEPOWER", "THRUST"
]]
selected_columns

In [ ]:
type_aircraft_dict = {
    "1": "Glider",
    "2": "Balloon",
    "3": "Blimp/Dirigible",
    "4": "Fixed wing single engine",
    "5": "Fixed wing multi engine",
    "6": "Rotorcraft",
    "7": "Weight-shift-control",
    "8": "Powered Parachute",
    "9": "Gyroplane",
    "H": "Hybrid Lift",
    "O": "Other",
}

type_engine_dict = {
    "0": "None",
    "1": "Reciprocating",
    "2": "Turbo-prop",
    "3": "Turbo-shaft",
    "4": "Turbo-jet",
    "5": "Turbo-fan",
    "6": "Ramjet",
    "7": "2 Cycle",
    "8": "4 Cycle",
    "9": "Unknown",
    "10": "Electric",
    "11": "Rotary",
}

ac_weight_dict = {
    "CLASS 1": "Up to 12,499",
    "CLASS 2": "12,500 - 19,999",
    "CLASS 3": "20,000 and over",
    "CLASS 4": "UAV up to 55"
}

selected_columns['TYPE AIRCRAFT'] = selected_columns['TYPE AIRCRAFT'].apply(lambda x:type_aircraft_dict[x.strip()])
selected_columns['TYPE ENGINE'] = selected_columns['TYPE ENGINE'].apply(lambda x:type_engine_dict[x.strip()])
selected_columns['AC-WEIGHT'] = selected_columns['AC-WEIGHT'].apply(lambda x:ac_weight_dict[x.strip()])
selected_columns.head()

In [ ]:
selected_columns.to_csv("N-Number-Registration-Data-2024.csv", index = False)

### Reviews

In [ ]:
import pandas as pd
from glob import glob
import os

def read_reviews_to_df(folder, file_column = "filename"):
    dfs = []
    for file_path in glob(os.path.join(folder, "*.csv")):
        df = pd.read_csv(file_path)
        df[file_column] = os.path.basename(file_path).split(".")[0]
        dfs.append(df)
    return pd.concat(dfs, ignore_index=True)

airport_review_df = read_reviews_to_df("../reviews/cleaned_airport", "AIRPORT_CODE")
airline_review_df = read_reviews_to_df("../reviews/cleaned_airline", "AIRLINE_CODE")
print(len(airport_review_df), len(airline_review_df))

In [ ]:
airport_review_df.to_csv("../supplementary/Airport-Reviews-Table.csv", index = False)
airline_review_df.to_csv("../supplementary/Airline-Reviews-Table.csv", index = False)